/* Restaurant.css */
.restaurant-list {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows the cards to wrap to the next line if there's not enough space */
    padding: auto;
  }
  .headings{
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
  }
.top{
    margin-left:27%;
}
.top_p1{
    padding-top: 30px;
    padding-bottom: 20px;
    font: 1.4em sans-serif;
}